body
{
    background-color:white;
}

#header
{
    background-color:lightblue;
}
#menu
{
    background-color:orangered;
}

#content
{
    background-color: white;
}

#footer
{
    background-color:purple;
}